.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 58px 24px 0;
  margin: 0 auto 32px;
  margin-left: auto;
}
.logo {
  height: 11.5rem;
  width: auto;
  margin-bottom: 2rem;
}
.header {
  font-size: 26px;
  font-weight: bold;
  color: var(--white-color);
  text-align: center;
  margin-top: 5%;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 30%;
  max-width: 100%;
  padding: 24px;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000050;
}
.formHeader {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.input > input[class~="ant-input"],
.input > span[class~="ant-input-password"] {
  padding: 0 14px;
  height: 60px !important;
}
.button {
  width: 100%;
  height: 60px !important;
}
.rememberMe {
  padding-left: 8px;
}

.request {
  color: red;
}

/* Media Query สำหรับหน้าจอ lg (992px ขึ้นไป) */
@media (min-width: 992px) {
  .container {
    min-width: 680px;
  }
}