.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 650vw;
}

.logo {
    height: 6rem;
    width: auto;
    margin-bottom: 1rem;
}

.header {
    font-size: 5vh;
    font-weight: bold;
    color: var(#00275A);
    /* text-align: left; */
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}


.subHeader {
    font-size: 2vh;
    color: #00275A;
    text-align: left;
    font-weight: normal;
    /* margin-bottom: 52px; */
}

.formContainer {
    width: 100%;
    max-width: 100vw;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.697);
    border-radius: 1.5rem;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(90px);
}

.formHeader {
    color: #00275A;
    font-size: 3vh;
    font-weight: bold;
    text-align: left;
    /* font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      font-variation-settings:"slnt" 0; */
}


.input>input[class~="ant-input"],
.input>span[class~="ant-input-password"] {
    /* padding: 0 18px; */
    width: 100%;
    height: 4vh !important;
}

.input {
    width: 100%;
    height: 4vh !important;
}

.button .ant-btn-primary:hover {
    background: red !important;
}

.button {
    background-color: #00275A;
    width: 100%;
    height: 4vh;
    font-size: 1vw;
}

.button2 {
    background-color: transparent;
    width: 100%;
    height: 6vh !important;
    font-size: 1vw;
    border-radius: 0.5em;
    color: #00275A;
    border-color: #00275A;
}

.rememberMe {
    padding-left: 8px;
    font-size: 1.5vh;
}

.forgot{
    color: #1469d9;
    text-decoration: underline;
    cursor: pointer;
}