.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}

.label {
  margin-bottom: 8px;
}

.error {
  margin-top: 8px;
}
