.container {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 0;
  width: 100%;
  min-height: 100vh;
  padding: 24px;
  background-color: #fffbeb;
  height: calc(100% - 50px); /*ปรับขนาดตามต้องการ */
  background: url("assets/images/bgLogin.png") center / cover no-repeat;
}

.containerMd {
  /* background-color: #134790;*/
  /* width: 100%;
  min-height: 100vh;  */
  display: flex;
  /* align-items: flex-start; */
  position: relative;
  z-index: 0;
  width: 100%;
  min-height: 100vh;
  padding: 24px;
  background-color: #fffbeb;
  height: calc(100% - 50px); /*ปรับขนาดตามต้องการ */
  background: url("assets/images/bgLogin.png") center / cover no-repeat;
}

.background {
  position: absolute;
  z-index: -1;
  width: 97%;
  height: calc(100% - 50px);
  background-color: #138890;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px #00000050;
}

.languageSwitcherContainer {
  position: absolute;
  top: 5%;
  left: 3%;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  height: 11.5rem;
  width: auto;
  margin-bottom: 2rem;
}

.header {
  margin-top: 12rem;
  flex: auto;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  flex: auto;
  display: flex;
  margin-top: 1%;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 2%;
}

.subtitle {
  font-size: 1rem;
  color: #fff;
  text-align: center;
}
